# watsonx.ai connection
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_APIKEY=__YOUR_IBM_CLOUD_API_KEY__
WATSONX_PROJECT_ID=__YOUR_WX_PROJECT_ID__

# Model defaults
LLM_MODEL_ID=ibm/granite-3-2-8b-instruct
LLM_MAX_NEW_TOKENS=256
LLM_TEMPERATURE=0.2
