WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_APIKEY=__YOUR_IBM_CLOUD_API_KEY__
WATSONX_PROJECT_ID=__YOUR_WX_PROJECT_ID__

# Tuning Studio target model
BASE_MODEL_ID=ibm/granite-3-2-8b-instruct

# Where to write split JSONL files
DATA_DIR=./dataset-prep
